
<!-- <app-nehru></app-nehru> -->
<!-- <app-root></app-root> -->
<!-- <app-nehru></app-nehru> -->
<!-- <app-calculator></app-calculator> -->
<!-- <app-products></app-products> -->
<!-- <app-struct-directives></app-struct-directives> -->
<!-- <app-products></app-products> -->

<!-- <app-first></app-first>
<app-second></app-second> -->

<!-- <app-parent1></app-parent1>
<app-first1></app-first1>
<app-second1></app-second1> -->

<!-- <app-java></app-java> -->

<!-- <app-temp-driven-form></app-temp-driven-form> -->

<!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!- Brand -->
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  
    <!-- Toggler/collapsibe Button -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  
    <!-- Navbar links -->
    <!-- <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink='/java' routerLinkActive='active'>Java</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/web' routerLinkActive='active'>Web</a>
        </li>
      </ul>
    </div>
  </nav> -->

<!-- <nav>
    <a routerLink='/java' routerLinkActive='active'>Java Technologies</a> | 
    <a routerLink='/web' routerLinkActive='active'>Web Technologies</a>
</nav> -->


<!-- Assignment - 13 -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
 
  <a class="navbar-brand" href="#">Navbar</a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink='/java' routerLinkActive='active'>Java</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/web' routerLinkActive='active'>Web</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- <app-react-forms></app-react-forms> -->
